.root{
  height:24px;
  position:relative;
  box-sizing:border-box;
  display:inline-block;
  :global{
    .input{
      border:1 solid;
      border: 1px solid transparent;
      outline:none;
      height:100%;
      width:100%;
      padding: 0 4px;
      box-sizing: border-box;
      &:hover{
        border-color:rgb(229, 229, 229);

      }
      &:focus{
        box-shadow: rgba(178, 221, 76, 0.298039) 0px 0px 5px 0px;
        border: 1px solid rgb(178, 221, 76);
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        background-color: rgb(255, 255, 255);
        & + .tip{
          display:inline-block;

        }
      }

    }
    .tip{
      display:none;
      position:absolute;
      top:100%;
      left:0;
      margin-top:2px;
      max-width:100%;
      border-radius:2px;
      border: 1px solid rgb(229, 229, 229);
      background-color: rgb(255, 255, 255);
      padding:2px;
    }
  }
  &:hover{
    border-color:rgb(229, 229, 229);
    &:global(.input){

    }
  }
}
