.root{
  padding:10px;
  position:relative;
  :global{
    .notice {
      margin: 20px auto;
      color: red;
      padding: 15px 0;
      text-align: center;
      border: 1px solid #000;
      border-width: 1px 0;
      background: #666;
    }
  }
}
body{
  margin:0;
}
