.root{
  padding:10px;
  position:relative;
  :global{
    .notice {
      margin: 20px auto;
      color: red;
      padding: 15px 0;
      text-align: center;
      border: 1px solid #000;
      border-width: 1px 0;
      background: #666;
    }
    .tab-demo{
      .item-header{
        position:relative;
        display:inline-block;
      }
      .icon{
        display:inline-block;
        border-radius:5px;
        background:rgb(204,204,204);
        color:white;
        height:14px;
        padding:0 5px;
        line-height:16px;
        font-size:12px;
        position:absolute;
        top:0;
      }


    }
  }
}
body{
  margin:0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
  /*border:1px solid #666666*/
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(60, 60,60, 0.298039);
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.498039);
}
