.root{
  height:100%;
  width:100%;
  text-align:center;
  display:flex;
  :global{
    .dot{
      flex:1;
      width: 4px;
      height: 4px;
      opacity:0.4;
      margin:0 3px;
      display:inline-block;
      border-radius: 2px;
      background-color: rgb(153, 153, 153);
      animation: opacity_ 1.2s infinite ease-in-out;
      animation-fill-mode: both;
      &:global(.dot0){
        animation-delay: 0s;
      }
      &:global(.dot1){
        animation-delay: 0.3s;
      }
      &:global(.dot2){
        animation-delay: 0.6s;
      }
      &:global(.dot3){
        animation-delay: 0.9s;
      }
    }
  }
}
@keyframes opacity_{
  0%, 40%, 100% {
    opacity: 0.4;
    background-color: rgb(77, 77, 77);
  }  20% {
    opacity: 1.0;
  }
}
